{% extends 'base.html.twig' %}


{% block content %}

    <div class="container">

        <div class="beneficios">

            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <img src="{{ asset('images/benefit-slider-1.png') }}" class="img-responsive" alt="Cotización por consumibles" title="Cotización por consumibles">
                </div>
                <div class="col-md-7 col-md-pull-5">
                    <div class="contentBenefText">
                        <h4>El secreto de nuestro éxito</h4>
                        <h1>Cotización por consumibles</h1>
                        <p>Cotizamos por consumibles, ¿y por qué? Porque en la mayoría de los casos se supera el rendimiento de los cartuchos que indican los fabricantes. Así podrás obtener ahorros de hasta el 30 % ¿Por qué pagar por 1000 páginas si puedes imprimir 1300 por el mismo precio?</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 col-md-5"><img src="{{ asset('images/benefit-slider-2.png') }}" class="img-responsive" alt="Todo inculuido" title="Todo inculuido"></div>
                <div class="col-sm-7 col-md-7">
                    <div class="contentBenefText">
                        <h4>Lo quieres, lo tienes.</h4>
                        <h1>Todo inculuido</h1>
                        <p>No te preocupes de nada. Nuestros servicios incluyen hardware, software, consumibles, kits, mantenimiento, y las herramientas más avanzadas en la gestión de parques de impresión. Configura tu servicio en tres pasos y nosotros nos encargamos del resto.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <img src="{{ asset('images/benefit-slider-3.png') }}" class="img-responsive" alt="Nuestros Equipos." title="Nuestros Equipos.">
                </div>
                <div class="col-md-7 col-md-pull-5">
                    <div class="contentBenefText">
                        <h4>Nuestros Equipos</h4>
                        <h1>Como un guante</h1>
                        <p>Seleccionamos para ti los mejores equipos de los mejores fabricantes y te ofrecemos un portfolio que se ajusta a tu negocio, sea cual sea tu volumen de trabajo o tus necesidades de impresión, copia y escaneado.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 col-md-5"><img src="{{ asset('images/benefit-slider-4.png') }}" class="img-responsive" alt="En 24 horas" title="En 24 horas"></div>
                <div class="col-sm-7 col-md-7">
                    <div class="contentBenefText">
                        <h4>¿Lo quieres para mañana? Vale</h4>
                        <h1>En 24 horas</h1>
                        <p>Contamos con las herramientas necesarias (profesionales, hardware, software...) para poner en marcha el servicio en un plazo de 24h desde la formalización del acuerdo.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <img src="{{ asset('images/benefit-slider-5.png') }}" class="img-responsive" alt="Help Desk" title="Help Desk">
                </div>
                <div class="col-md-7 col-md-pull-5">
                    <div class="contentBenefText">
                        <h4>Así da gusto</h4>
                        <h1>Help Desk</h1>
                        <p>Ponemos a tu disposición un Help desk multicanal para atenderte. Resolveremos tus dudas y cualquier incidencia. Además tendrás acceso a información actualizada para el seguimiento de tu caso. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 col-md-5"><img src="{{ asset('images/benefit-slider-6.png') }}" class="img-responsive" alt="Monitorización" title="Monitorización"></div>
                <div class="col-sm-7 col-md-7">
                    <div class="contentBenefText">
                        <h4>¡Reláaaaaajate!</h4>
                        <h1>Monitorización</h1>
                        <p>Ya no tendrás que preocuparte por el estado de los consumibles, kits de mantenimiento o actuaciones del personal técnico. En Docutea, contamos con las mejores herramientas para la monitorización de tus equipos, limitando al máximo los tiempos de parada.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <img src="{{ asset('images/benefit-slider-7.png') }}" class="img-responsive" alt="Suministro Consumibles" title="Suministro Consumibles">
                </div>
                <div class="col-md-7 col-md-pull-5">
                    <div class="contentBenefText">
                        <h4>Te parecerá magia</h4>
                        <h1>Suministro Consumibles</h1>
                        <p>Olvídate de hacer pedidos y acumular stocks innecesarios. Gracias a nuestras herramientasde gestión y nuestro departamento de logística, recibirás los consumibles unos días antes de terminarse.</p>
                    </div>
                </div>
            </div>            
            
            <div class="row">
                <div class="col-sm-5 col-md-5"><img src="{{ asset('images/benefit-slider-8.png') }}" class="img-responsive" alt="Gestión Residuos" title="Gestión Residuos"></div>
                <div class="col-sm-7 col-md-7">
                    <div class="contentBenefText">
                        <h4>De nada, planeta Tierra</h4>
                        <h1>Gestión Residuos</h1>
                        <p>En Docutea cumplimos las normas europeas en la gestión y reciclado de los residuos que puedan generarse durante la prestación de los servicios: embalajes, equipos, consumibles o piezas de recambio. Trabajamos con los fabricantes para que estos residuos vuelvan a ser utilizados de manera sostenible.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <img src="{{ asset('images/benefit-slider-9.png') }}" class="img-responsive" alt="Renovación del Parque" title="Renovación del Parque">
                </div>
                <div class="col-md-7 col-md-pull-5">
                    <div class="contentBenefText">
                        <h4>Estamos a la última</h4>
                        <h1>Renovación del Parque</h1>
                        <p>Nuestro parque de equipos se encuentra en evolución constante. Evaluamos continuamente la situación de los equipos (volumen de impresión, nº de incidencias, coste, idoneidad...) para ofrecerte siempre la mejor opción.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 col-md-5"><img src="{{ asset('images/benefit-slider-10.png') }}" class="img-responsive" alt="Informes de Consumo" title="Informes de Consumo"></div>
                <div class="col-sm-7 col-md-7">
                    <div class="contentBenefText">
                        <h4>Al céntimo</h4>
                        <h1>Informes de Consumo</h1>
                        <p>Siempre sabrás qué, cuánto y por cuánto estás imprimiendo. Sin sobresaltos.</p>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

{% endblock %}