<aside id="sidebar-left" class="left-menu">
    <div class="left-menu__wraper">
        <nav class="left-menu__nav">
            <ul>
                <li class="left-menu-nav__title">Navegación</li>
                <li>
                    <a href="{{ path('home') }}" class="left-menu__nav-item--active">
                        <i class="icon-dashboard"></i>
                        <span>Configurador</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" class="left-menu__nav-item--active">
                        <i class="icon-dashboard"></i>
                        <span>Servicios</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" class="left-menu__nav-item--active">
                        <i class="icon-dashboard"></i>
                        <span>Máquinas</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" class="left-menu__nav-item--active">
                        <i class="icon-dashboard"></i>
                        <span>Blog</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" class="left-menu__nav-item--active">
                        <i class="icon-dashboard"></i>
                        <span>Buscador</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" class="left-menu__nav-item--active">
                        <i class="icon-dashboard"></i>
                        <span>Área de Cliente</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" class="left-menu__nav-item--active">
                        <i class="icon-dashboard"></i>
                        <span>Chat</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>