<div class="page-footer">
    <div class="page-footer__inner">
            <div class="large-container large-container--grey large-container--pad">
                <footer>
                <div class="desktop">
                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <div class="text-left">
                                <ul class="list-unstyled">
                                    <li><a href="{{ path('static_pages', {'nombrePagina':'sobre-nosotros'}) }}" >Sobre Nosotros</a></li>
                                    <li><a href="{{ path('contacto') }}" >Contacta</a></li>
                                    <li>
                                        Siguenos en:
                                        <ul class="social-list list-inline">
                                            <li>
                                                <a href="https://www.linkedin.com/company/docutea" class="linkedin" target="_blank"><span class="icon-linkedin"></span></a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/docutea" class="twitter" target="_blank"><span class="icon-twitter"></span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="text-center">
                                <div>Comparte:</div>
                                <ul class="social-list list-inline">
                                    <li>
                                        <a href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.docutea.es" target="_blank"><span class="icon-linkedin"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/intent/tweet?text=Docutea%20Imprime%20ahorrando%20cotizamos%20por%20consumible&url=https%3A%2F%2Fwww.docutea.es&via=Docueta&hashtags=impresoras,consumibles,ahorro,todoincluído,servicioimpresión,hp" target="_blank"><span class="icon-twitter"></span></a>
                                    </li>
                                    {#<li>#}
                                        {#<a href=""><span class="icon-facebook"></span></a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href=""><span class="icon-whatsapp"></span></a>#}
                                    {#</li>#}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="text-right">
                                <ul class="list-unstyled list-footer-2">
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'bases-legales'}) }}" target="_blank">Bases Legales</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'condiciones-de-contratacion'}) }}" target="_blank">Condiciones de contratación</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'condiciones-de-venta'}) }}" target="_blank">Condiciones de venta Outlet</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'politica-de-cookies'}) }}" target="_blank">Politica de cookies</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'politica-de-privacidad'}) }}" target="_blank">Política de privacidad</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'faqs'}) }}" target="_blank">FAQS</a>
                                    </li>
                                    <li class="text-right">
                                        <img src="{{ asset('images/logos_tarjetas_125.png')}}" alt="Pago con tarjeta">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mobile">


                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <div>Comparte:</div>
                                <ul class="social-list list-inline">
                                    <li>
                                        <a href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.docutea.es" target="_blank"><span class="icon-linkedin"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/intent/tweet?text=Docutea%20Imprime%20ahorrando%20cotizamos%20por%20consumible&url=https%3A%2F%2Fwww.docutea.es&via=Docueta&hashtags=impresoras,consumibles,ahorro,todoincluído,servicioimpresión,hp" target="_blank"><span class="icon-twitter"></span></a>
                                    </li>
                                    {#<li>#}
                                        {#<a href=""><span class="icon-facebook"></span></a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href=""><span class="icon-whatsapp"></span></a>#}
                                    {#</li>#}
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-6">
                            <div class="text-left">
                                <ul class="list-unstyled">
                                    <li><a href="{{ path('static_pages', {'nombrePagina':'sobre-nosotros'}) }}" >Sobre Nosotros</a></li>
                                    <li><a href="{{ path('contacto') }}" >Contacta</a></li>
                                    <li>
                                        Siguenos en:
                                        <ul class="social-list list-inline">
                                            <li>
                                                <a href="https://www.linkedin.com/company/docutea" class="linkedin" target="_blank"><span class="icon-linkedin"></span></a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/docutea" class="twitter" target="_blank"><span class="icon-twitter"></span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-right">
                                <ul class="list-unstyled list-footer-2">
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'bases-legales'}) }}" target="_blank">Bases Legales</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'condiciones-de-contratacion'}) }}" target="_blank">Condiciones de contratación</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'condiciones-de-venta'}) }}" target="_blank">Condiciones de venta</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'politica-de-cookies'}) }}" target="_blank">Politica de cookies</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'politica-de-privacidad'}) }}" target="_blank">Política de privacidad</a>
                                    </li>
                                    <li class="text-right">
                                        <a href="{{ path('static_pages', {'nombrePagina':'faqs'}) }}" target="_blank">FAQS</a>
                                    </li>
                                    <li class="text-right">
                                        <img src="{{ asset('images/logos_tarjetas_125.png')}}" alt="Pago con tarjeta">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                </footer>
            </div>
    </div>
</div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132496306-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132496306-1');
</script>