


            <div class="large-container large-container--pad">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="printer__title">Cesta</h2>
                        </div>
                    </div>


                    <div class="row">

                        <div id="machine-list-recomended">

                    {% set machineCount = 0 %}
                            <div class="col-md-8 col-xs-12">
                                <div class="machine-list">
                                {% for cartproduct in cart.cartProductsDTOs %}
                                    
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="machine-list__name-name">{{ cartproduct.nombre }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-xs-12">
                                            <div class="machine-features">
                                            
                                                <p>{{ cartproduct.description }}</p>
                                                <ul class="iconic-list list-inline mT20 mB20">
                                                {% if cartproduct.airPrint == true %}
                                                    <li>
                                                        <img src="{{ asset('images/icon-movil.png') }}" title="Impresión móvil" data-toggle="tooltip" data-placement="top">
                                                    </li>
                                                {% endif %}
                                                {% if cartproduct.wifi == true %}
                                                    <li>
                                                        <img src="{{ asset('images/icon-wifi.png') }}" title="Conectividad Wi-Fi" data-toggle="tooltip" data-placement="top">
                                                    </li>
                                                {% endif %}
                                                {% if cartproduct.cloud == true %}
                                                    <li>
                                                        <img src="{{ asset('images/icon-ethernet.png') }}" title="Conectividad Ethernet" data-toggle="tooltip" data-placement="top">
                                                    </li>
                                                {% endif %}
                                                {% if cartproduct.nfc == true %}
                                                    <li>
                                                        <img src="{{ asset('images/icon-doble-cara.png') }}" title="Doble cara automático" data-toggle="tooltip" data-placement="top">
                                                    </li>
                                                {% endif %}
                                                {% if cartproduct.sheet != '' %}
                                                    <li class="pull-right">
                                                        <!-- a href="{{ cartproduct.sheet }}" target="_blank"-->
                                                        <a href="/uploads/product/sheet/{{ cartproduct.sheet }}" target="_blank">
                                                            <img src="{{ asset('images/icon-pdf.png') }}" title="Descargar especificaciones técnicas" data-toggle="tooltip" data-placement="top">
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-xs-12">
                                            <img src="/uploads/{{cartproduct.imagePerspective}}" alt="{{ cartproduct.nombre }}" class="img-thumbnail my-4"/>
                                        </div>

                                        <div class="col-md-5 col-xs-12">
                                            <div class="price-outlet-checkout">
                                                <div class="title-outlet-checkout">
                                                    Precio:
                                                    {{ (cartproduct.total)|number_format(2) }} € IVA incl.<br>
                                                    <span>{{ cartproduct.totalPrice|number_format(2) }} € Sin IVA.</span>
                                                </div>
                                                <div class="outlet-price-total-checkout">
                                                    <div class="row">
                                                        <div class="col-xs-3 col-md-6">
                                                            <div class="select-quantity">Cantidad: 
                                                                <select class="select-quantity-outlet-checkout storeProductQty" name="quantity" id="quantity-{{ cartproduct.id }}">
                                                                    <option value="1" {% if cartproduct.quantity == 1  %} selected {% endif %}>1</option>
                                                                    <option value="2" {% if cartproduct.quantity == 2  %} selected {% endif %}>2</option>
                                                                    <option value="3" {% if cartproduct.quantity == 3  %} selected {% endif %}>3</option>
                                                                    <option value="4" {% if cartproduct.quantity == 4  %} selected {% endif %}>4</option>
                                                                    <option value="5" {% if cartproduct.quantity == 5  %} selected {% endif %}>5</option>
                                                                    <option value="6" {% if cartproduct.quantity == 6  %} selected {% endif %}>6</option>
                                                                    <option value="7" {% if cartproduct.quantity == 7  %} selected {% endif %}>7</option>
                                                                    <option value="8" {% if cartproduct.quantity == 8  %} selected {% endif %}>8</option>
                                                                    <option value="9" {% if cartproduct.quantity == 9  %} selected {% endif %}>9</option>
                                                                    <option value="10" {% if cartproduct.quantity == 0  %} selected {% endif %}>10</option>
                                                                </select>
                                                            </div>                                                   
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="productId-{{ cartproduct.id }}" value="{{ cartproduct.id }}">
                                                <button class="deletecart" value="{{ cartproduct.id }}">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% set machineCount = machineCount + 1 %}
                                {% endfor %}
                                </div>


                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="total-checkout">
                                    <div class="price-outlet-total">
                                        <div class="title-outlet-total"> Total {{ machineCount }} productos:<br>
                                            <div style="text-align:right"><br>{{ cart.totalPrice|number_format(2) }} € <span>IVA incl.</span><br>{{ cart.price|number_format(2) }} € <span>Sin IVA.</span>
                                            </div>
                                            <form action="{{ path('store_user_data') }}">
                                                <br><input type="submit" class="checkoutBtn" value="Gestionar la Compra">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                </div>
            </div>



    <div class="modal fade"  data-backdrop="static" id="resumen" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-dialog-resumen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Resumen contratación</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 js-contract-info-1"></div>
                        <div class="col-md-6 js-contract-info-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 "></div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancelar</button>
                            <button type="button" class="btn btn-primary pull-right js-go-to-adrress">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>