{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.cif) }}
        {{ form_row(form.nombre) }}

        {{ form_rest(form) }}

        <input type="submit"/>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}